<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Вход</title>
    </head>

    <body>
		<header>
            <ul>
                <li><a th:href="@{/}">Главная</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/cart}">Корзина</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Вход</a></li>
                <form sec:authorize="isAuthenticated()" style="display: inline;" th:action=@{/logout} th:method="POST">
                    <input type="submit" value="Выйти">
                </form>
            </ul>
        </header>

        <main>
            <h1>Вход</h1>

            <form th:action="@{/login}" th:method="POST">
                <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
    
                <label for="username">Имя пользователя:</label>
                <input id="username" name="username" type="text">
    
                <label for="password">Пароль:</label>
                <input id="password" name="password" type="password">
    
                <input type="submit" value="Войти">
    
                <p style="color: red" th:if="${param.error}">Неверные имя пользователя и/или пароль.</p>
            </form>

            <p>Не зарегистрированы? <a th:href="@{/register}">Регистрация</a></p>
        </main>
    </body>
</html>