<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Регистрация</title>
    </head>

    <body>
		<header>
            <ul>
                <li><a th:href="@{/}">Главная</a></li>
                <li sec:authorize="isAuthenticated()"><a th:href="@{/cart}">Корзина</a></li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/login}">Вход</a></li>
                <form sec:authorize="isAuthenticated()" style="display: inline;" th:action=@{/logout} th:method="POST">
                    <input type="submit" value="Выйти">
                </form>
            </ul>
        </header>

        <main>
            <h1>Регистрация</h1>

            <form th:action="@{/register}" th:method="POST" th:object="${user}">
                <label for="name">Имя пользователя:</label>
                <input id="name" th:field="*{name}" type="text">
                <label for="password">Пароль:</label>
                <input id="password" th:field="*{password}" type="password">
                <label for="confirmedPassword">Подтверждения пароля:</label>
                <input id="confirmedPassword" th:field="*{confirmedPassword}" type="password">
                <label for="email">Электронная почта:</label>
                <input id="email" th:field="*{email}" type="text">
    
                <input type="submit" value="Зарегистрироваться">
            </form>
        </main>
    </body>
</html>