<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Товары</title>
	</head>

	<body>
		<header>
			<ul>
				<li><a th:href="@{/}">Главная</a></li>
			</ul>
		</header>

		<main>
			<h1>Товары</h1>

			<div th:each="product : ${products}">
				<a th:href="@{/products/{id}(id=${product.id})}"><p th:text="${product.title}">Название товара</p></a>

				<p th:text="${product.description}">Описание товара</p>
				
				<p th:text="${product.price}">Цена товара</p>
			</div>
		</main>
	</body>
</html>