<!DOCTYPE html>

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Корзина</title>
	</head>

	<body>
		<header>
			<ul>
				<li><a th:href="@{/}">Главная</a></li>
				<li sec:authorize="isAuthenticated()"><a th:href="@{/cart}">Корзина</a></li>
				<li sec:authorize="isAnonymous()"><a th:href="@{/login}">Вход</a></li>
				<form sec:authorize="isAuthenticated()" style="display: inline;" th:action=@{/logout} th:method="POST">
					<input type="submit" value="Выйти">
				</form>
			</ul>
		</header>

		<main>
			<h1>Корзина</h1>

			<div th:if="${products}">
				<div th:each="product : ${products}">
					<a th:href="@{/products/{id}(id=${product.id})}"><p th:text="${product.title}">Название товара</p></a>

					<p th:text="${product.description}">Описание товара</p>
					
					<p th:text="${product.price}">Цена товара</p>

					<form th:action="@{/cart/{id}/remove(id=${product.id})}" th:method="POST">
						<input type="submit" value="Удалить">
					</form>
				</div>

				<form th:if="${#lists.size(products) > 0}" th:action="@{/cart}" th:method="POST">
					<input type="submit" value="Оформить заказ">
				</form>
			</div>

			<div th:if="${is_order_made}">
				<p>Вы успешно оформили заказ. В скором времени мы свяжемся с Вами по электронной почте.</p>
			</div>
		</main>
	</body>
</html>